@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.inner-sec {
  padding-top: 180px;
  padding-bottom: 100px;
}

.inn-container {
  margin-bottom: 80px;
}

.inn-container .inn-title {
  font-size: 70px;
  font-weight: 600;
}

.inn-p {
  font-size: 25px;
  line-height: 1.5;
}

.nav-holder {
  display: flex;
  justify-content: end;
  padding-right: 50px;
}

.client-h {
  margin-top: 50px;
  font-size: 26px;
}

.m-nav-tabs {
  position: relative;
  display: block;
  border-bottom: 0px;
}

.m-nav-tabs .nav-link.active:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background-color: #06070a;
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.05s;
}

.m-nav-tabs .nav-link {
  border-radius: 0px;
  border: 0px;
  color: #637695;
  font-size: 20px;
  padding: 4px;
  position: relative;
}

.m-nav-tabs .nav-link:hover {
  border: 0px;
  color: #333;
}

.m-nav-tabs .nav-link sup {
  font-size: 12px;
}

.m-nav-tabs .nav-item.show .nav-link,
.m-nav-tabs .nav-link.active {
  border-radius: 0px;
  border: 0px;
}

/* navbar */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 0;
  transition: transform 0.4s ease, background 0.3s ease, box-shadow 0.3s ease;
  z-index: 999;
}

.navbar.at-top {
  background: transparent;
  box-shadow: none;
}
.navbar.menu-open {
  background: #06070a !important;
  margin-top: -1px;
}

.navbar.scrolled {
  background: rgb(255 255 255 / 50%);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.navbar-hidden {
  transform: translateY(-100%);
}

.navbar-visible {
  transform: translateY(0);
}

.navbar.about-page.at-top .desktop-menu .nav-link {
  color: white;
}

/* ✅ After scroll, or any other page, normal color */
.navbar.scrolled .desktop-menu .nav-link,
.navbar:not(.about-page).at-top .desktop-menu .nav-link {
  color: black; /* or your default */
}




.navbar.scrolled .desktop-menu .nav-link {
  color: #333;
}

.navbar.scrolled .desktop-menu .nav-link.active {
  color: #000;
}
.m-nav .nav-link {
  font-size: 20px;
  color: #06070a;
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  padding: 0 !important;
  margin: 0;
}
.m-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.7px;
  background: #637695;
  transition: width 0.3s ease;
}
.m-nav .nav-link:hover::after {
  width: 100%;
}
.m-nav .nav-link.active::after {
  width: 100%;
}
.m-nav .h-logo {
  width: 60px;
  transition: width 0.4s ease;
}

.m-nav .nav-item {
  margin-left: 53px;
}

.navbar-light .nav-link.active::after {
  transform-origin: left;
  transform: scaleX(1);
  /* Ensure underline appears on active link */
  background-color: #637695;
}

.white-links .nav-link {
  color: #ffffff !important;
}

.white-links .nav-link.active {
  color: #ffffff !important;
}

/* Mobile Toggle Button */
.custom-toggler {
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 1001;
  padding: 10px;
}

.bar {
  width: 24px;
  height: 2px;
  background: #000;
  transition: transform 0.4s ease, opacity 0.3s ease;
}
.navbar.about-page.at-top .bar {
  background: white;
}
.custom-toggler.open .bar1 {
  transform: rotate(45deg) translate(4px, 4px);
  background: #fff;
}

.custom-toggler.open .bar2 {
  transform: rotate(-45deg) translate(1px, -2px);
  background: #fff;
}

/* Mobile Menu Styles */
.mobile-menu {
  position: fixed;
  top: 0;
  padding: 90px 15px;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #06070a;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.4s ease;
  z-index: 1000;
  overflow-y: scroll;
}

.mobile-menu.open {
  transform: translateY(0);
  opacity: 1;
}

/* Mobile Nav Links */
.mobile-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.mobile-nav-item {
  margin-bottom: 5px;
}

.mobile-nav-link {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.mob-email {
  margin-top: 110px;
}
.mob-email p {
  margin-bottom: 5px;
  color: #858e97;
  font-size: 14px;
}
.mob-email .view-btn {
  color: #fff;
  margin-top: 5px;
  font-size: 24px;
}
.mobile-menu .view-btn span {
  color: #fff !important;
}
.mobile-menu .mob-add.view-btn span {
  font-size: 14px;
}
.mobile-menu .nav-social li a {
  color: #fff;
  font-size: 20px;
}
.mobile-menu .nav-social {
  margin-top: 40px;
  margin-bottom: 10px;
}
/* .mobile-nav-link.active {
  color: #637695;
} */

.mobile-nav-link:hover {
  color: #bbc4d2;
}

@media (min-width: 992px) {
  .mobile-menu,
  .custom-toggler {
    display: none;
  }
}

@media (min-width: 992px) {
  .mobile-menu {
    display: none !important;
  }
}

@media (max-width: 991.98px) {
  .desktop-menu {
    display: none !important;
  }

  .m-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .project-box-d {
    padding-left: 15px;
    padding-right: 15px;
  }

  .m-nav-tabs .nav-link.active:before {
    left: -14px;
  }

  .m-nav-tabs .nav-link {
    font-size: 15px;
  }
}

.navbar-nav {
  align-items: center;
}

/* hero sec */
.hero-sec {
  background: linear-gradient(1turn, #fff, #efedf0 60%);
  padding-top: 180px;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.hero-sec.inn-hero {
  background: linear-gradient(0.25turn, #000000, #222222 60%);
  padding-bottom: 150px;
}

.hero-sec.inn-hero .hero-h {
  color: #fff;
}

.hero-sec .hero-h {
  font-size: 73px;
  font-weight: 700;
  line-height: 97px;
  color: #06070a;
}

.img-sec {
  margin-top: -100px;
  z-index: 2;
  position: relative;
}

.main-images {
  position: relative;
  text-align: center;
  min-height: 300px;
}

.main-frame,
.main-clock,
.main-img {
  position: absolute;
  transform-origin: center center;
  /* Ensures smooth scaling */
}

.main-frame {
  width: 160px;
  left: -70px;
  top: -60px;
  z-index: 1;
}

.main-clock {
  width: 150px;
  right: -70px;
  top: -60px;
  z-index: 1;
}

.main-img {
  position: relative;
  z-index: 2;
  width: 90%;
  margin-top: 30px;
}

.video-wrapper {
  text-align: center;
  margin-top: 00px;
  transform-origin: center center;
  /* Added for scaling effect */
  transition: transform 0.3s ease;
  will-change: transform;
  /* Improves performance during scaling */
}

.video-element {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* Ensures aspect ratio is maintained */
  margin: 0 auto;
}

.accordion-sec {
  padding: 130px 0px;
}

.accordion-con {
  font-size: 23px;
  line-height: 1.6;
}

.m-accordion {
  position: relative;
}

.m-accordion .accordion-item {
  width: 52%;
  margin-left: auto;
  border: 0;
  position: relative;
  background-color: transparent;
}

.m-accordion .accordion-item .accord-img {
  display: none;
  position: absolute;
  left: -53%;
  width: 60%;
  z-index: -1;
  top: -15px;
}

.m-accordion .accordion-item.active .accord-img {
  display: block;
}

.m-accordion:not(:has(.accordion-item.active))
  .accordion-item:hover
  .accord-img {
  display: block;
}

.m-accordion .accordion-button {
  background-color: transparent;
  font-size: 24px;
  font-weight: 700;
}

.m-accordion .accordion-button:focus {
  box-shadow: none;
  outline: 0;
  background-color: transparent;
}

.m-accordion .accordion-button:active {
  background-color: transparent;
}

.m-accordion .accordion-button::after {
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: 9px;
}

.m-accordion .accordion-button:not(.collapsed) {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.m-accordion .accordion-body {
  color: #637695;
  font-size: 22px;
  line-height: 135%;
  letter-spacing: -0.02em;
}

.client-sec {
  padding-bottom: 100px;
}

.client-ul {
  display: grid;
  /* flex-wrap: wrap; */
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/* 
.client-ul li img {
  width: 220px;
  margin: auto;
} */

.view-btn {
  font-size: 22px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #000;
  align-items: center;
  gap: 8px;
  transition: transform 0.3s ease-in-out;
  margin-top: 50px;
  display: inline-block;
}

.view-btn:hover {
  color: #000;
}

.view-btn i {
  font-size: 30px;
  vertical-align: middle;
  color: #bbc4d2;
  transition: all 0.3s ease-out;
}

.view-btn:hover i {
  color: #000;
  padding-left: 4px;
  transition: all 0.3s ease-out;
}

.view-btn span {
  position: relative;
}

.view-btn span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 1px;
  background-color: #bbc4d2;
  width: 100%;
  z-index: -1;
}

.view-btn span::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 1px;
  background-color: #000;
  width: 0%;
  transition: width 0.3s ease-in-out;
}

.view-btn:hover span::before {
  width: 100%;
  z-index: 1;
}

.project-box {
  display: block;
  transform: translateY(100px);
  position: relative;
}
.project-box:hover .project-img {
  box-shadow: 3px 3px 27px #80808057;
}
.pro-des span {
  color: #06070a;
  font-size: 14px;
}

.project-img {
  position: relative;
  overflow: hidden;
}

.project-img img,
.project-img video {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  transition: all 0.4s ease-in-out;
}
/* Custom hover cursor styled like a button */
.hover-cursor {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background: #000;
  color: #fff;
  padding: 7px 16px;
  font-size: 18px;
  font-weight: 500;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s ease;
  z-index: 9999;
  white-space: nowrap;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow */
}

.hover-cursor.visible {
  opacity: 1; /* Fade in when active */
}

/* Hide default cursor ONLY inside the image/video area */
.project-img:hover {
  cursor: none;
}

/* Hide default cursor ONLY inside the image area */
.project-img:hover {
  cursor: none;
}

/* By default, video hidden */
.project-img video {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
}

/* Show video on hover */
.project-box:hover .project-thumb {
  opacity: 0;
}

.project-box:hover .project-video {
  opacity: 1;
}

.project-summary {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 14px;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
  pointer-events: none;
  width: 50%;
  border-radius: 4px;
}

.project-box:hover .project-summary {
  opacity: 1;
  transform: translateY(0);
}

.project-box p {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #000;
}

.project-box:hover .project-img img {
  transform: scale(1.1);
}

.project-row {
  gap: 10%;
}

.project-row .col-lg-6 {
  width: 45%;
}

.project-row .col-lg-6:nth-child(even) {
  margin-top: 160px;
}
.project-box:hover .tag-ul {
  opacity: 0.9;
  transition: transform 0.8s ease-in-out;
  height: 23px;
}
.tag-ul {
  display: flex;
  opacity: 0;
  margin-top: 15px;
  transition: transform 0.8s ease-in-out;
  height: 23px;
}
.tag-ul li {
  position: relative;
  white-space: nowrap;
  color: #637695;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.3px;
}
.tag-ul li:not(:last-child) {
  padding-right: 28px;
}
.tag-ul li:not(:last-child):before {
  content: "";
  position: absolute;
  right: 13px;
  top: 11px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #637695;
}
.transform-sec {
  background-color: #f4f5f8;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.transform-sec.about-transform {
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
}

.mt-title {
  font-size: 52px;
  line-height: 110%;
  letter-spacing: -0.03em;
  font-weight: 600;
}

.mt-p {
  font-size: 28px;
  line-height: 1.6;
  margin-top: 20px;
}

.m-swiper {
  position: relative;
  margin-top: 80px;
  margin-bottom: 80px;
  overflow: hidden;
}

.arrow {
  position: absolute;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  pointer-events: none;
  opacity: 0.8;
  transform: translateY(-50%);
  /* Keep arrow vertically centered to cursor */
}

.left-arrow {
  left: 40px;
}

.right-arrow {
  right: 40px;
}

.faq-section {
  background-color: #17191f;
  padding: 80px 0;
  color: #ffffff;
}

.faq-container {
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}

.faq-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

.faq-container .accordion-item {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #333;
}

.faq-container .accordion-button {
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  padding: 30px 0;
  border: none;
  box-shadow: none !important;
  outline: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0px;
}
.faq-container .accordion-collapse {
  overflow: hidden;
  transition: max-height 0.4s ease; /* Smooth transition */
}

.faq-container .accordion-button {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.faq-container .accordion-button:focus {
  box-shadow: none;
}

.faq-container .accordion-button::after {
  display: none;
}

.faq-container .faq-icon {
  margin-left: 12px;
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.faq-container .accordion-body {
  padding: 20px 0;
  color: #cccccc;
  border-top: 1px solid #333;
}

.faq-container .accordion-button:not(.collapsed) {
  background-color: transparent;
}

.footer {
  padding-top: 70px;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.let-title {
  font-size: 70px;
  font-weight: 600;
  transition: none !important;
  opacity: 1 !important;
  transform: none !important;
}

.mail-a.view-btn {
  font-size: 28px;
  margin-top: 10px;
  font-weight: 400;
}
.phne-a.view-btn {
  margin-top: 10px;
  font-weight: 400;
  font-size: 28px;
}
.phne-a.view-btn span:after,
.phne-a.view-btn span:before {
  display: none;
}
.quick-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.quick-ul li {
  width: calc(50% - 10px);
  margin-bottom: 0px;
}

.quick-ul li .view-btn {
  margin-top: 0px;
  line-height: 0.8;
}

.social-ul {
  margin-bottom: 0px;
}

.social-ul a {
  color: #333;
  font-size: 25px;
  margin-left: 30px;
  display: inline-block;
}

.social-ul a:hover {
  color: #bbbbbb;
}

.ft-middle {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  padding: 15px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.ft-middle .location-p {
  margin-bottom: 0px;
}

.ft-bottom {
  padding: 15px;
}

.ft-bottom .copy-p {
  font-size: 14px;
  margin-bottom: 0px;
}

.ft-link-ul {
  margin-bottom: 0px;
}

.ft-link-ul li {
  margin-left: 15px;
}

.ft-link-ul .view-btn {
  font-size: 14px;
  margin-top: 0px;
}

.ft-helix {
  position: absolute;
  left: -100px;
  bottom: -100px;
  animation: rotateScale 5s infinite ease-in-out;
  transform-origin: center;
  width: 70%;
  z-index: -1;
  opacity: 0.5;
}

/* service page */

.serv-space {
  padding-top: 180px;
}

.serv-holdder:last-child {
  padding-bottom: 150px;
}

.serv-con .serv-h {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}

.serv-con p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.serv-con ul li {
  position: relative;
  font-size: 20px;
  margin-bottom: 7px;
  font-weight: 600;
}

.serv-con ul li::before {
  content: "—";
  color: #bbc4d2;
  margin-right: 8px;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
}

.serv-img-box {
  width: 70%;
  position: relative;
}

.serv-con {
  position: relative;
  z-index: 2;
}

.serv-img-box .serv-icon {
  position: absolute;
  top: -22%;
  left: -40%;
  z-index: 1;
  width: 65%;
  transform-style: preserve-3d;
  display: block;
  will-change: transform;
  animation: pulseAndRotate 20s infinite ease-in-out;
}

@keyframes pulseAndRotate {
  0% {
    transform: scale(1) rotate(0deg);
  }

  50% {
    transform: scale(1.1) rotate(180deg);
  }

  100% {
    transform: scale(1) rotate(360deg);
  }
}

.serv-img-box.serv-img-left .serv-icon {
  right: -40%;
  left: inherit;
}

.serv-img-box.serv-img-right {
  text-align: right;
  margin-left: auto;
}

.serv-img-box .serv-img {
  z-index: 2;
  position: relative;
}

.counter-sec {
  padding-top: 100px;
  padding-bottom: 100px;
}

.counter-box {
  margin-bottom: 30px;
}

.counter-box .counter-number {
  font-size: 100px;
  font-weight: 700;
}

.counter-box p {
  font-size: 16px;
  font-weight: 500;
}

.hq .hq-title {
  font-size: 100px;
  font-weight: 700;
}

.hq p {
  font-size: 18px;
  font-weight: 500;
}

.why-sec {
  padding-top: 100px;
  padding-bottom: 100px;
}

.why-box {
  padding-top: 50px;
}

.why-box .why-number {
  color: #bbc4d2;
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 20px;
}

.why-box .why-title {
  font-size: 46px;
  font-weight: 600;
  margin-bottom: 20px;
}

.why-box p {
  font-size: 25px;
  line-height: 1.5;
}

.caps-sec {
  padding-top: 160px;
  padding-bottom: 127px;
  background-color: #17191f;
  position: relative;
  overflow: hidden;
}

.caps-sec .bundle-img {
  position: absolute;
  top: -212px;
  right: -496px;
  width: 1202px;
  height: 1044px;
}

.caps-h {
  font-size: 73px;
  font-weight: 700;
  line-height: 97px;
  color: #ffffff;
}

.caps-box {
  margin-top: 100px;
}

.caps-box .caps-sm-h {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.caps-box ul li {
  color: #858e97;
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 500;
}

.cap-space {
  padding-top: 100px;
  padding-bottom: 100px;
}

.caps-sec .view-btn {
  color: #fff;
}

.caps-sec .view-btn:hover i {
  color: #bbc4d2;
}

.caps-sec .view-btn span::after {
  z-index: 0;
}

.caps-sec .view-btn span::before {
  background-color: #fff !important;
  z-index: 2;
}

.cont-ul p {
  margin-bottom: 4px;
  margin-top: 50px;
  color: #56616a;
  font-size: 20px;
}

.cont-ul li {
  margin-right: 40px !important;
}

.cont-ul .view-btn {
  margin-top: 0px;
  font-size: 32px;
  font-weight: 500;
}

.con-social {
  margin-top: 100px;
}

.con-social li a {
  margin-left: 0px;
  margin-right: 30px;
}

.nav-social {
  margin-top: 10px;
}

.nav-social li a {
  margin-left: 0px;
  margin-right: 20px;
}

/* privacy */
.privacy-container {
  color: #1e1e1e;
}

.privacy-content {
  margin: 0 auto;
  background-color: #ffffff;
}

.privacy-container h1,
.privacy-container h2,
.privacy-container h3 {
  margin-top: 30px;
  color: #333;
}

.privacy-container ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  padding-left: 0;
}

.privacy-container li {
  font-size: 16px;
  color: #1e1e1e;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 10px;
}

.privacy-container p {
  line-height: 1.7;
  font-size: 16px;
}

/* detail page */
.detail-slider {
  margin-top: 100px;
}

.detail-video {
  background: linear-gradient(0.25turn, #000000, #222222 60%);
}

.text-block {
  padding-top: 50px;
  padding-bottom: 50px;
}

.text-block .text-block-h {
  font-size: 46px;
  font-weight: 800;
  margin-bottom: 20px;
}

.text-block p {
  line-height: 1.5;
  font-size: 18px;
}

.industries {
  background: linear-gradient(0.25turn, #000000, #222222 60%);
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 180px;
  color: #fff;
  position: relative;
}

.industries .inn-title {
  font-size: 40px;
}

.industries .inn-p {
  font-size: 20px;
  margin-bottom: 30px;
}

.indus-box {
  padding-bottom: 50px;
  margin-top: 50px;
  border-bottom: 1px solid #c0c0c030;
}

.indus-box .indus-title {
  color: #fff;
  margin-bottom: 0px;
  font-size: 22px;
}

.indus-box p {
  color: #858e97;
  font-weight: 500;
  margin-bottom: 0px;
  line-height: 1.6;
  font-size: 20px;
}

/* prob-sec also used in result sec*/
.prob-sec {
  background: linear-gradient(0.25turn, #000000, #222222 60%);
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
  position: relative;
}

.result-sec .shape-img {
  position: absolute;
  bottom: -18%;
  left: -50px;
  width: 20%;
}

.prob-sec .prob-sub-h {
  color: silver;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 30px;
}

.prob-sec p {
  font-size: 18px;
  line-height: 1.6;
}

.prob-sec ul {
  margin-top: 30px;
}

.prob-sec ul li {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.prob-sec ul li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  width: 6px;
  height: 6px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(319deg);
}

.res-widget {
  margin-bottom: 40px;
}

.res-widget .res-sub-h {
  color: silver;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.res-widget .res-h {
  font-weight: 600;
}

.m-cta {
  border-top: 1px solid #56616a;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.cta-h {
  font-size: 50px;
}

.m-cta .view-btn {
  color: #fff;
}

.m-cta .view-btn:hover i {
  color: #bbc4d2;
}

.m-cta .view-btn span::after {
  z-index: 0;
}

.m-cta .view-btn span::before {
  background-color: #fff !important;
  z-index: 2;
}

.testimonial-sec {
  padding: 0px 0 80px;
}

.testimonial-slide {
  display: flex;
}

.testimonial-slide .test-img {
  width: 20%;
}

.testimonial-slide .test-con {
  width: 80%;
}

.avatar-img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 40px;
}

.testimonial-text {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 40px;
  color: #000;
  text-align: left;
}

.testimonial-author {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  text-align: left;
}

.testimonial-position {
  font-size: 0.95rem;
  color: #555;
  margin-top: 5px;
}

.testimonial-sec .custom-pagination {
  margin-top: 50px;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  color: #000;
  position: absolute;
  bottom: 2%;
  left: 26%;
  width: auto;
}

.testimonial-sec .swiper-button-next,
.testimonial-sec .swiper-button-prev {
  color: #000;
  font-size: 14px;
  position: absolute;
  top: 95%;
}

.testimonial-sec .swiper-button-prev {
  left: 19%;
}

.testimonial-sec .swiper-button-next {
  left: 35%;
}

.testimonial-sec .swiper-button-prev:after,
.testimonial-sec .swiper-button-next:after {
  font-size: 20px;
}

.testimonial-sec .swiper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.testimonial-sec .swiper-pagination {
  display: none !important;
}
.ab-test .testimonial-text,
.ab-test .testimonial-author {
  color: #fff;
}
.ab-test .testimonial-position {
  color: #9d9d9d;
}
.ab-test .testimonial-sec .custom-pagination {
  color: #fff;
}
.ab-test .testimonial-sec .swiper-button-next,
.ab-test .testimonial-sec .swiper-button-prev {
  color: #fff;
}
.gray-sec {
  background-color: #f5f3f3;
  padding-top: 100px;
  padding-bottom: 100px;
}

.gray-sec h4 {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  color: #c2c2c2;
}

.gray-sec p {
  /* background: #fff; */
  font-size: 18px;
  padding: 5px;
}

.gray-sec ul li {
  font-size: 1.3rem;
  line-height: 2.6rem;
  font-weight: 500;
}
/* archive section */
.archive-sec {
  background-color: #17191f;
  padding: 80px 0px;
}
.archive-sec .archive-title {
  font-size: 52px;
  margin-bottom: 50px;
  color: #fff;
  font-weight: 600;
}
.archive-ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.archive-ul li {
  margin-bottom: 15px;
}
.archive-ul li h3 {
  color: #858e97;
  font-size: 42px;
  font-weight: 600;
  cursor: pointer;
}
.archive-ul li h3:hover {
  color: #fff;
  z-index: 107;
  position: relative;
}
.archive-preview {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.95);
  max-width: 250px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 100;
}

.archive-preview img.preview-thumb {
  width: 230px;
  height: 180px;
  object-fit: cover;
  margin-bottom: 8px;
}

.archive-preview .preview-desc {
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* MEDIA QUERIES */
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1400px;
  }
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 👈 number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 992.2px) {
  /* .client-ul li img {
    width: 100px;
  } */
  .navbar {
    z-index: 1010;
  }
  .hero-sec .hero-h {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 20px;
  }

  .navbar-brand img {
    width: 40px !important;
  }

  .navbar-light,
  .navbar-light.scrolled {
    background-color: #f8f8f8 !important;
  }

  .navbar-light .nav-item {
    margin-left: 0px;
  }

  .navbar-light {
    padding: 5px 0 !important;
    margin-top: -1px;
  }

  .navbar-light .nav-link {
    margin-top: 15px;
  }

  .white-links .nav-link,
  .white-links .nav-link.active {
    color: #06070a !important;
  }

  .hero-sec {
    padding-top: 100px;
    padding-bottom: 0px;
  }
  .main-images {
    display: none;
  }
  .main-frame {
    width: 80px;
    left: 50px;
    top: 50px;
    z-index: 1;
  }

  .main-clock {
    width: 70px;
    right: 60px;
    top: 0px;
    z-index: 1;
  }

  .main-img {
    width: 80%;
  }
  .video-wrapper {
    margin: 20px auto !important;
    width: 100% !important;
  }
  .accordion-sec {
    padding: 50px 0px;
  }

  .accordion-con {
    font-size: 14px;
  }

  .m-accordion .accordion-item {
    width: 100%;
  }

  .m-accordion .accordion-button {
    font-size: 16px;
    padding: 10px 10px 10px 0px;
  }

  .m-accordion .accordion-button::after {
    margin-left: 8px;
    margin-top: 6px;
  }

  .m-accordion .accordion-item .accord-img {
    display: none !important;
  }

  .m-accordion .accordion-body {
    font-size: 16px;
  }

  .view-btn {
    font-size: 18px;
    margin-top: 30px;
  }

  .project-row .col-lg-6 {
    width: 100%;
  }

  .project-box {
    margin-top: auto;
    margin-bottom: 30px;
    transform: translateY(20px);
  }

  .project-box p {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .pro-des {
    display: block;
  }

  .pro-des span {
    color: #1c1c1c;
    font-size: 12px;
  }

  .project-row .col-lg-6:nth-child(even) {
    margin-top: auto;
  }

  .client-sec {
    padding-bottom: 50px;
  }

  .transform-sec {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .mt-title {
    font-size: 23px;
    line-height: 138%;
  }

  .mt-p {
    font-size: 15px;
  }

  .m-swiper {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .faq-section {
    padding: 50px 0px;
  }

  .faq-container .accordion-button {
    font-size: 15px;
    padding: 20px 0px;
  }

  .footer {
    padding-top: 50px;
  }

  .let-title {
    font-size: 30px;
  }

  .mail-a.view-btn {
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 5px;
  }
  .phne-a.view-btn {
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 30px;
  }
  .quick-ul li {
    margin-bottom: 0px;
    margin-top: 0px;
    width: calc(30% - 10px);
  }

  .social-ul a {
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 20px;
  }

  .ft-middle {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .ft-bottom {
    padding-left: 0px;
    padding-right: 0px;
  }
  .ft-link-ul li {
    margin-left: 0px;
  }
  .ft-link-ul li .view-btn {
    margin-right: 15px;
  }
  .inner-sec {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .inn-container .inn-title {
    font-size: 36px;
  }

  .inn-p {
    font-size: 18px;
    line-height: 1.3;
  }

  .nav-holder {
    display: flex;
    justify-content: start;
    padding-right: initial;
    padding-left: 15px;
  }

  .inn-container {
    margin-bottom: 10px;
  }

  .testimonial-sec {
    padding: 30px 0px;
  }

  .testimonial-slide {
    display: block;
  }

  .testimonial-text {
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 500;
  }

  .avatar-img {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .testimonial-sec .swiper {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .testimonial-sec .swiper-button-prev {
    left: 0;
  }

  .testimonial-sec .custom-pagination {
    left: 14%;
  }

  .serv-space {
    padding-top: 50px;
  }
.serv-img-box .serv-icon{
  position: relative;
  left: -10%
}
  .serv-con .serv-h {
    font-size: 25px;
  }

  .serv-con p {
    font-size: 15px;
  }

  .serv-con ul {
    margin-bottom: 30px;
  }

  .serv-con ul li {
    font-size: 15px;
  }

  .serv-img-box {
    width: 100%;
  }
.con-social{
  display: none;
}
.cont-ul{
  margin-bottom: 30px
}
  .industries {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
  }

  .indus-box {
    padding-bottom: 20px;
    margin-top: 20px;
  }

  .indus-box .indus-title {
    font-size: 18px;
  }

  .indus-box p {
    margin-top: 15px;
  }

 

  .counter-box .counter-number {
    font-size: 50px;
  }

  .hq .hq-title {
    font-size: 50px;
  }

  .why-sec {
    padding-top: 50px;
    padding-bottom: 50px;
  }
.why-box .img-x{
  width: 60% !important
}
  .why-box .why-title {
    font-size: 28px;
  }

  .why-box p {
    font-size: 15px;
  }

  .why-box .why-number {
    margin-top: 20px;
    font-size: 36px;
    margin-bottom: 10px;
  }

  .page-wave-overlay {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background-color: #ffffff;
    /* Or use #000000 for dark */
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    pointer-events: none;
    transition: clip-path 1s ease-in-out;
  }

  .caps-sec {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .cap-space {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .caps-h {
    font-size: 36px;
    line-height: 1.4;
  }

  .cap-award {
    text-align: center;
  }

  .caps-box {
    margin-top: 50px;
  }

  .caps-box .caps-sm-h {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .caps-box ul li {
    font-size: 18px;
  }

  .text-block .text-block-h {
    font-size: 20px;
    line-height: 1.5;
  }

  .detail-slider {
    margin-top: 60px;
    margin-bottom: 0px;
  }

  .prob-sec ul li {
    font-size: 16px;
  }

  .prob-sec p {
    font-size: 15px;
  }

  .text-block p {
    font-size: 15px;
  }

  .text-block {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .cta-h {
    font-size: 30px;
  }

  .m-cta {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .client-ul {
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .faq-container {
    width: 100%;
    padding: 0 15px;
  }
  .archive-sec {
    padding: 50px 0px;
  }
  .archive-sec .archive-title {
    font-size: 36px;
    margin-bottom: 35px;
  }
  .archive-ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .archive-ul li h3 {
    font-size: 20px;
  }
  .mobile-preview {
    grid-column: 1 / -1;
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
    animation: fadeSlide 0.3s ease;
  }
  .archive-ul li.expanded {
  grid-column: 1 / -1; /* Force the LI itself to occupy full row */
}
  @keyframes fadeSlide {
    from {
      opacity: 0;
      transform: translateY(-8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .preview-thumb {
    max-width: 80%;
  }
  .testimonial-slide .test-con {
    width: 100%;
}
.container-fluid.image-wrapper{
padding-left: 0px;
padding-right: 0px;
}
}

@media (max-width: 600px) {
  .client-ul {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}
@media (max-width: 767.98px) {
  .serv-space .col-lg-7 {
    order: 1 !important; 
    padding-left: 0px;
    padding-right: 0px
  }
  .serv-con{
    padding: 30px 10px
  }
  .serv-space .col-lg-5 {
    order: 2 !important;
  }
}